<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- Configure the web server settings -->
  <system.webServer>

    <!-- Remove the WebDAV module, which can cause issues with some clients -->
    <modules>
      <remove name="WebDAVModule" />
    </modules>

    <handlers>
      <!-- Remove the aspNetCore handler, and add it back with updated settings -->
      <remove name="aspNetCore"/>
	  <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />

      <!-- Remove the WebDAV handler, which can cause issues with some clients -->
      <remove name="WebDAV" />
    </handlers>

    <!-- Configure aspNetCore to use specific process path and arguments -->
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />

    <!-- Configure security settings -->
    <security>

      <!-- Remove the server header, which can reveal information about the server -->
      <requestFiltering removeServerHeader="true" />

    </security>

    <!-- Configure HTTP headers -->
    <httpProtocol>

      <customHeaders>

        <!-- Set X-Content-Type-Options header to prevent content sniffing -->
        <add name="X-Content-Type-Options" value="nosniff" />

        <!-- Remove X-Powered-By header, which can reveal information about the server -->
        <remove name="X-Powered-By" />

      </customHeaders>

    </httpProtocol>

  </system.webServer>

</configuration>