.forgot {
  color: #000000;
  cursor: pointer;
  margin-top: 0px !important;
}

.close {
  color: rgb(255, 255, 255);
  float: right;
  font-size: 150%;
  font-weight: bold;
  margin-right: 10px;
  margin-top: 8px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.login-panel {
  background: #002f34;
  margin: 0;
  padding: 10px;
  color: rgb(255, 255, 255);
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}

.login-panel h3 {
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
}

.sign-in {
  padding: 30px;
}

.emaildiv {
  display: flex;
  flex-direction: column;
  min-height: 80px;
}

.form__field {
  /* font-family: inherit; */
  width: 100%;
  outline: 0;
  font-size: 1rem;
  border: 1px solid black;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  padding: 5px 0;
  padding-left: 5px;
  transition: border-color 0.2s;
}

.red {
  color: red;
  margin-top: 2px;
  margin-left: 5px;
}

.submitpass {
  border: none;
  outline: none;
  background: #002f34;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  display: flex;
  margin: 0 auto;
  width: 120px;
  height: 40px;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  font-size: 15px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}